.venv/
__pycache__/
plots/

data/4gpu_*
data/4gpus_*
data/2gpu_*
data/2gpus_*
data/1gpu_*
data/1gpus_*
data/results

data/ta_*
data/*.out
data/*_data/
data/*_data_*/
*.out
*.log
data/writes/
notes/
ckpt_*
unique_pids
